<h1>Weather#index ....</h1>
<p>Find me in app/views/weather/index.html.erb</p>


<div id="map" style="width:100%;height:400px;"></div>


<%= form_tag "/weather/find", remote: true do %>
  <%= text_field_tag "location", "default info" %>
  <%= text_field_tag "miles", "default info" %>
  <%= submit_tag "Create" %>
<% end %>


<div id="target-for-change"> </div>
