<h1>Students#show</h1>
<div class="container text-center">

  <h2>Student details</h2>
  <table class="table">
    </thead>
    <tbody>
            <tr class="success">
              <td><%= @student.first_name %></td>
              <td><%= @student.last_name %> </td>
              <td><%= @student.email %></td>
            </tr>
    </tbody>
  </table>

  <%= link_to "Home", root_path %>

</div>
