<!DOCTYPE html>
<html>
<head>
  <title>Simpsonss</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <div class="text-center heading">
    <i class="fa fa-user-circle-o  fa-2x"></i>
    </div>
</head>
<body>

<%= yield %>

</body>
</html>
