@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans|Arimo);
$roboto-slab: 'Roboto Slab', serif;
$Arimo:  'Arimo', sans-serif;

* {
  margin: 0;
  padding: 0;
  font-family: $Arimo;

}

body {
  margin: 0 auto;
  background-color: #F1F4F9;
  font-family: "omnes-pro", Tahoma, sans-serif;
  //font-family: "Arimo";
  font-color: #454545;
  font-size: 16px;
}


.box {
    display: inline-block;
    width: 400px;
    height: 100px;
    margin: 1em;
    vertical-align: top;
    padding: 20px;
    //font-style: italic;
    border-left: solid purple 2px;
}

.time {
  color: #39424e;
  font-family: $Arimo;

}

.summary {
  color: #39424e;
  font-family: $Arimo;

}

.list{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

 .item{
float: left;
margin: 5px;
background: white;
text-decoration: none;
border: 1px solid grey;
border-radius: 16px;
color: #39424E;
padding: 5px;
}

.block {
    font-family: $Arimo;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 10px;
    height: 200px;
    width: 100px;
}

.list-header {
  width: 400px;
  text-align: left;
}

/* Styles for header start */
.header {
       background-color: #313134;
       height:60px;
       color: white;
       font-weight: bold;
       border-radius: 10px;
}


.logo {
  padding: 10px;
}

.l1 {
  //font-family: $roboto-slab;
  font-size: 20px;

}

.header_list {    list-style-type: none;
}

.header_item {
     text-decoration: none;
     float: left;
     margin:0 60px 60px 0;
}

/* Styles for header End */

.place_img
{
height: 212px;
width: 335px;
padding: 18px;
margin-left: 50px;
}
